# node.js
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# Dist files
dist/

# Extra files
*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
.idea
.env
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

example.http
